<footer>

    <div class="social">

        <div class="social-wrapper">
            <p class="social-text">Connect with us</p>

            <div class="social-icon">

                <a class="icons" href="/" target="_blank"><img class="logo" src="http://localhost:8080/img/social/facebook.png"
                        alt="facebook"></a>

                <a class="icons" href="/" target="_blank"><img class="logo" src="http://localhost:8080/img/social/instagram.png"
                        alt="instagram"></a>

                <a class="icons" href="/" target="_blank"><img class="logo" src="http://localhost:8080/img/social/youtube.png"
                        alt="youtube"></a>

                <a class="icons" href="/" target="_blank"><img class="logo" src="http://localhost:8080/img/social/twitter.png"
                        alt="twitter"></a>

            </div>


        </div>

    </div>

    <div class="break"></div>

    <div class="foo">

        <div class="foo-reserve" id="order1">
            <a href="/">About Us</a>

            <a href="/">Career</a>

            <a href="/">Retail Partnership</a>

            <a href="/">Press</a>

            <a href="/">Advertising</a>

            <a href="/">Privacy Policy</a>
        </div>

        <div class="foo-copy" id="order2">
            <p>&copy;2019 Giftry</p>
        </div>

    </div>

</footer>