<div class="main">
    <!-- content -->
    <div class="err-container">

        <p>404! <span><br></span>  Sorry, the page not found.</p>

        <img src="../img/logo-blk/logo_t.png" alt="flower-logo">
    </div>
</div>