

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class = 'welcome'>

<h1 id='welcome-msg'></h1>

<h2> Welcome ! </h2>

<h2> Please create your registry! </h2>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Create New Registry
</button>

<div id='registry-list'></div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registry Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
<form id='create_registry' action='/console/shop' method='post'>
<input type='text' name='registry_name' placeholder='Name your registry' class="form-group" />

<br>
<p>Choose your Occasion</p>
<select name="ocassion_name">
  <option value="newborn">Baby Shower</option>
  <option value="wedding">Wedding Shower</option>
  <option value="house">House Warming</option>
  <option value="birthday">Children birthday</option>
</select>

<br>

<p>Date of Occasion</p>
<input type='date' name='ocassion_date' class="form-group"/>

<br>

<input type='text' name='reg_password' minlength="4" maxlength="6" placeholder="Password (optional)" class='form-group'/>

<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value='new registry' class="btn btn-primary">submit</button>
      </div>


</form>

      </div>
     
    </div>
  </div>
</div>



<div class='registry-list'></div>
{{#each item}}
        <div class='registry-wrapper'> 
          
        <a  href='/console/registry/status/{{regID}}' class='view-registry-btn' data-id='{{regID}}'>{{ocassion}}</a>
       
        <br/>
        </div>
        <button class='delete-registry-btn' data-id='{{regID}}' type='submit'>delete</button> 
        <br/>
        
        
        {{/each}}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>