<div class="home-bg">

    <div class="bg-wrapper">

        <div class="bg-pic">
            <!-- bg1, 9, 10, 11, 12 -->
            <img src="../img/bg/bg9.jpg" alt="home-bg">
        </div>

        <div class="bg-text">

            <p>Your customised registry for all occasions</p>

            <div class="bg-split">

                <button class="bg-btn" id="bg-active">
                    <a id="bg-signup" href="/login">Create A Regitsry</a>
                </button>

                <button class="bg-btn">
                    <a href="/find">Find List</a>
                </button>
            </div>
        </div>

    </div>

</div>



<div class="content" id="partner">

    <!-- partner section -->
    <div class="partner-wrapper">
        <p class="big-text">Our Partners</p>

        <div class="partner-container">

            <div class="partner-center">

                <!-- img box, min 1, max 3 -->
                <div class="partner-box">
                    <img src="../img/partner/hutchgo.png" alt="partner1">
                </div>

                <div class="partner-box">
                    <img src="../img/partner/mannings1.png" alt="partner2">
                </div>

                <div class="partner-box">
                    <img src="../img/partner/ztore.png" alt="partner3">
                </div>

                <!-- img box, min 1, max 3 -->
                <div class="partner-box">
                    <img src="../img/partner/aveeno.png" alt="partner4">
                </div>

                <div class="partner-box">
                    <img src="../img/partner/shooting1.png" alt="partner5">
                </div>

                <div class="partner-box">
                    <img src="../img/partner/wedding1.png" alt="partner6">
                </div>
            </div>

            <button class="partner-btn" id="partner-active">
                <a id="partner-view" href="#partner">View More</a>
            </button>

        </div>


    </div>

<div class="home-break"></div>
    <div class="main-section"  id="how">
        

            <p class="big-text">How Giftry Works</p>


        <div class="action">

            <div class="action-box">
                <img src="../img/action/pick.svg" alt="action1">

                <p>Create your own registry & select what you wish to recieve</p>
            </div>

            <div class="action-box">
                <img src="../img/action/like.svg" alt="action2">

                <p>Recieve the gifts from your firends & family</p>
            </div>

            <div class="action-box">
                <img src="../img/action/gift1.svg" alt="action3">

                <p>Enjoy your great party & thank all of your them for the wishes</p>
            </div>


        </div>

    </div>

</div>